<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://turbine.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4cc38a98-f177-40f7-a1d5-c0e2150f80e1/resourceGroups/blue-azurefunction/providers/Microsoft.Web/sites/Turbine</ResourceId>
    <ApiResourceId>/subscriptions/4cc38a98-f177-40f7-a1d5-c0e2150f80e1/resourceGroups/blue-azurefunction/providers/Microsoft.ApiManagement/service/TurbineRepairapKR/apis/TurbineRepairKR</ApiResourceId>
    <PublishUrl>https://turbine.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>